/* bet builder styling */
.betbuilder{
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    padding: 20px;

}

/* Divider styling */
.divider-betbuilder {
    height: 2px;
    width: 100%;
    opacity: 0.5;
    background-color: rgba(202, 196, 208);
}

/* Bookmakers styling */
.bookmakers-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    align-items: center;
    padding: 10px;
    gap: 10px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  }
/* Game header styling */
.game-header-style{
    font-size: 20px;
    text-align: center;
}

/* Odds header styling */
.player-name {
    display: flex;
    padding: 10px;
    gap: 10px;
    font-size: 16px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

/* Player odds styling */
.player-odds-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 36px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    color: rgb(0, 0, 0);
}

/* Player odds text styling */
.player-odds-text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-weight: bold;
}

/* Styling for chosen team logos */
.team-header-logo{
    width: 40px;
    height: 40px;
}

/* Styling for chosen team names */
.team-header-name{
    font-size: 18px;
    justify-content: center;
    align-items: center;
    margin:5px;
}

/* Parent wrapping of chosen team */
.team-header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

/* Wrapping container for team logo and team name */
.teamprofile {
    text-align: center;
    margin: 20px;
    padding: 10px;
    width: 250px; /* Set a fixed width */
    height: 60px; /* Set a fixed height */
}

/* Time size for header*/
.team-header-status{
    display: flex;
    flex-direction: column;
    font-size: 18px;
    justify-content: center;
    align-items: center;

}

/* Wrapping container for score */
.team-header-score{
    font-size: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}