/* GameItem component outer div styling */        
.game-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

/* GameItem component outer div styling when hovered */
.game-item:hover {
    background-color: #545656;
}

/* GameItem component outer div styling when pressed or focused */
.game-item:active, 
.game-item:focus {   
    background-color: #545656;
    transform: scale(0.95);
}


/* Game status styling when game is NS, FT or LIVE */
.game-status {
    display: flex;
    padding: 8px;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    margin-right: 5px;

}

.finished-status {
    margin-left: 0 !important;
}

/* Vertical line styling */
.vertical-line {
    background-color: rgba(202, 196, 208);
    height: 100%;
    width: 1px;
    margin-right: 10px;
}

/* Teams container styling */
.teams-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

/* Team logo styling */
.team-logo {
    width: 20px;
    height: 20px;
    margin-right: 8px;
    vertical-align: middle;
}

/* Row styling for the parent contaner holding the game items and the game day header */
.row {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* Team info styling */
.team-info {
    display: flex;
    align-items: center;
}

/* Button styling */
.game-button {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Button styling for each game */
.button-icon {
    width: 24px;  /* Adjust this value to match your image size */
    height: 24px; /* Adjust this value to match your image size */
    opacity: 0.6;
}

/* Game score styling when game is FT */
.game-score{
    background-color: #171f21;
    display:flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    margin-right: 10px;
    width: 50px;
    height:100%;
}

/* Added styling when game is live */
.live-status{
    background-color: rgb(55, 212, 49);
    padding: 8px;
    margin-right: 15px;
}



