/* hero-title */
.hero-title {
    font-size: 48px; 
    line-height: 1.2;
    margin-bottom: 16px; 
}

/* text-faded */
.text-faded {
    color: #cccccc; 
}

/* text-highlighted */
.text-highlighted {
    color: rgb(46, 26,5);
    background-color: #e0e0e0; 
    padding: 0 8px; 
}

/* hero-subtitle */
.hero-subtitle {
    font-size: 16px; 
    color: #cccccc; 
    line-height: 1.5;
}
