/* Added for the structure of app.jsx */
.container {
  display: flex;
  height: calc(100vh - 150px);
  max-width: 100%;
}

/* Container left for the games list */
.container-left {
  width: 50vw;
  display: flex;
  flex-direction: column;
  padding: 32px; /* Changed from 2rem to 32px */
  margin-top: 100px;
}

/* Container right for the hero and bet builder */
.container-right {
  width: 50vw;
  display: flex;
  padding: 32px;
  justify-content: left;
  margin-top: 100px;
}
