/* Added for the structure of app.jsx */
.container {
  display: flex;
  height: auto;
  margin-top: 100px;
}

/* Container left for the games list */
.container-left {
  width: 100%; /* Full width on smaller screens */
  max-width: 30vw; /* Max width on larger screens */
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Align content to the top */
  padding: 16px;
  margin-top: 80px; /* Reduced top margin */
  margin-left: 50px; /* Remove left margin */
  margin-bottom: 40px;
  border: none; /* Add a light gray border */
  background-color: rgb(31, 33, 35); /* Add a light gray background color */
  border-radius: 8px; /* Optional: Add rounded corners */
  height: auto; /* Allow height to grow as needed */
  min-height: 600px; /* Set a minimum height to prevent contraction */
}

/* Container right for the hero and bet builder */
.container-right {
  width: 70vw;
  display: flex;
  padding: 32px;
  justify-content: center;
  margin-top: 80px;
}

/* Inner container for the games list */
.games-list-container {
  background-color: rgb(0, 0, 0);
  border-radius: 8px;
  padding: 15px;
  margin-top: 16px; /* Add space between header and list */
  display: flex;
  flex-direction: column;
  height: auto;
}
