/* Added for the structure of app.jsx */
.container {
  display: flex;
  height: calc(100vh - 150px);
  margin-top: 150px;
}

/* Container left for the games list */
.container-left {
  width: 50vw;
  display: flex;
  flex-direction: column;
  padding: 32px; /* Changed from 2rem to 32px */
}

/* Container right for the hero and bet builder */
.container-right {
  width: 50vw;
  display: flex;
  padding-right: 20px;
  justify-content: center;
}

/* Row styling for the games in games list */
.row {
  display: flex;
  margin-bottom: 20px;
  width: 100%;
}
